@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    background-color: rgb(212, 208, 208);

    margin: 0;
    --torn-shadow-offset-x: -2px;
    --torn-shadow-offset-y: 2px;
    --torn-shadow-background-color: rgba(0, 0, 0, 0.25);
    --torn-background-color: #f15a2b;
    --torn-left-width: 43px;
    --torn-right-width: 43px;
    --torn-left-clip-path: polygon(84% 0%, 15% 1%, 20% 2%, 68% 3%, 14% 4%, 27% 6%, 21% 7%, 90% 8%, 52% 9%, 89% 10%, 24% 11%, 80% 12%, 57% 13%, 85% 14%, 40% 16%, 98% 17%, 83% 18%, 32% 19%, 22% 20%, 78% 21%, 13% 22%, 36% 23%, 82% 24%, 87% 26%, 37% 27%, 56% 28%, 91% 29%, 36% 30%, 19% 31%, 8% 32%, 10% 33%, 21% 34%, 30% 36%, 54% 37%, 96% 38%, 58% 39%, 17% 40%, 82% 41%, 7% 42%, 20% 43%, 27% 44%, 64% 46%, 97% 47%, 70% 48%, 44% 49%, 11% 50%, 3% 51%, 68% 52%, 90% 53%, 50% 54%, 88% 56%, 94% 57%, 28% 58%, 39% 59%, 44% 60%, 1% 61%, 15% 62%, 69% 63%, 41% 64%, 54% 66%, 73% 67%, 60% 68%, 42% 69%, 26% 70%, 86% 71%, 94% 72%, 67% 73%, 83% 74%, 78% 76%, 68% 77%, 52% 78%, 95% 79%, 2% 80%, 3% 81%, 30% 82%, 83% 83%, 57% 84%, 29% 86%, 71% 87%, 59% 88%, 26% 89%, 14% 90%, 49% 91%, 32% 92%, 51% 93%, 4% 94%, 79% 96%, 65% 97%, 19% 98%, 65% 99%, 26% 100%, calc(100% + 1px) 100%, calc(100% + 1px) 0%);
    --torn-right-clip-path: polygon(45% 0%, 48% 1%, 60% 2%, 76% 3%, 32% 4%, 65% 6%, 30% 7%, 25% 8%, 24% 9%, 2% 10%, 90% 11%, 23% 12%, 57% 13%, 62% 14%, 3% 16%, 43% 17%, 4% 18%, 65% 19%, 56% 20%, 40% 21%, 50% 22%, 4% 23%, 100% 24%, 4% 26%, 92% 27%, 82% 28%, 45% 29%, 21% 30%, 72% 31%, 94% 32%, 63% 33%, 24% 34%, 10% 36%, 2% 37%, 48% 38%, 90% 39%, 64% 40%, 24% 41%, 11% 42%, 75% 43%, 79% 44%, 66% 46%, 19% 47%, 36% 48%, 70% 49%, 27% 50%, 68% 51%, 19% 52%, 82% 53%, 47% 54%, 62% 56%, 45% 57%, 93% 58%, 51% 59%, 89% 60%, 52% 61%, 25% 62%, 42% 63%, 5% 64%, 88% 66%, 80% 67%, 2% 68%, 66% 69%, 93% 70%, 79% 71%, 7% 72%, 11% 73%, 91% 74%, 58% 76%, 19% 77%, 2% 78%, 28% 79%, 72% 80%, 8% 81%, 76% 82%, 25% 83%, 75% 84%, 34% 86%, 70% 87%, 27% 88%, 44% 89%, 54% 90%, 2% 91%, 8% 92%, 95% 93%, 67% 94%, 33% 96%, 43% 97%, 90% 98%, 44% 99%, 28% 100%, -10% 100%, -10% 0%);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

* {
    color: $neutrals-grey;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.04em;
}

.gbg-container {
    max-width: $screen-width;
    margin: 0 auto;
    padding: 0 15px;

    @include md {
        padding: 0 40px;
    }
}

.h-ex-header-full {
    position: relative;
    min-height: calc(100vh - 75px);
}

.title-legend {
    p {
        margin-bottom: 4px;
    }

    .small-divider {
        width: 40px;
        height: 3px;
        background: linear-gradient(90.55deg, #F6B801 -10.07%, #F59200 99.53%);
        border-radius: 1px;
    }
}

.header-label {
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #0A91F3;
    color: #fff;
}

.fw-semi-bold {
    font-weight: 500;
    color: #000;
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {

    margin: 0;
}

input[type="datetime-local"]::-webkit-datetime-edit {
    display: none;
}